<header class="headerTelasGrandes">
    <section class="headerGridContainer">
      <a href="/">
        <img src="images/Logotipo.svg" alt="" class="logoPC">
      </a>
      <a href="profile">
        <p class="menuItemPC">Perfil</p>
      </a>
      <a href="/artists">
        <p class="menuItemPC">Artista</p>
      </a>
      <a href="about">
        <p class="menuItemPC">Sobre</p>
      </a>
      <a href="register">
        <p class="menuItemPC">Cadastrar-se</p>
      </a>
      <input type="text" name="" id="">
      <img src="images/icons/card.svg" alt="" class="cardPC">
    </section>
</header>